/target/
/data.pak
/DetectSDK.dll
/DeviceEventListener.log
/FaceVRI_AlignmentResV3.dll
/FaceVRI_DetectRes.dll
/FaceVRI_FaceID.dll
/FaceVRI_FeatExtractV73.dat
/FaceVRI_ImageLib.dll
/FaceVRI_ModelV731.dat
/FaceVRI_PointModelV2.dat
/FaceVRI_SampleV73.dat
/FaceVRISDK.dll
/FaceVRISDKTest.exe
/ID_Fpr.dll
/ID_FprCap.dll
/IPPWraper.dll
/JNativeCpp.dll
/lfbmp14n.dll
/lfcmp14n.DLL
/lfeps14n.dll
/lffax14n.dll
/lffpx14n.dll
/lffpx7.dll
/lfgif14n.dll
/lfimg14n.dll
/lfpcd14n.dll
/lfpcx14n.dll
/Lfpng14n.dll
/lfpsd14n.dll
/lftga14n.dll
/lftif14n.dll
/lfwmf14n.dll
/license.dat
/ltclr14n.dll
/ltdis14n.dll
/ltefx14n.dll
/ltfil14n.DLL
/Ltimg14n.dll
/ltkrn14n.dll
/lttwn14n.dll
/PCDLIB32.DLL
/pom.xml
/sdtapi.dll
/SynIDCardAPI.dll
/SynIDCardAPI.lib
/SynPublic.h
/test 20140708.flt
/USBRead.dll
/VerifyTwoFeat.exe
/VerifyTwoFeat11.exe
/WltRS.dll
/zp.bmp
